<h3 class="text-center mb-3 bookmark-header">REDUCED URL LIST</h3>
<div class="row justify-content-left">
  <div class="col">
    <%= react_component 'Url' %>
  </div>
</div>


<!-- Modals and other hidden page elements related to this page -->
