<div class="four-zero-four">
    <div class="">
        <h1>The change you wanted was rejected.</h1>
    </div>

    <p>Maybe you tried to change something you didn't have access to.</p>

    <div class="text-wrapper">
        <a href="/">Return to safty!</a>
    </div>
</div>