<div class="four-zero-four">
    <div class="">
        <h1>We're sorry, but something went wrong.</h1>
    </div>
    
    <div class="text-wrapper">
        <a href="/">Return to safty!</a>
    </div>
</div>