<div class="four-zero-four">
    <div class="">
        <h1>Page not found!</h1>
    </div>

    <div class="image"></div>

    <div class="text-wrapper">
        <a href="/">Return to safty!</a>
    </div>
</div>