// Place all the styles related to the maps controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html, body {
  height: 100%;
  margin: 0;
  padding-top: 28px;
}


nav{
  background-color: #676DA4;
}

.navbar-dark .navbar-nav .nav-link {
    /*color: rgba(255,255,255,1);*/
    /*color: #ffffff !important;*/
}

.logoImage{
  background: url("../images\\URL Reduzer.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #ffffff;
  text-shadow: 1px 1px 1px #EF2222;
  height: 45px;
  width: 256px;
}

.reduce-url{
  background: url("../images\\top.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 70vh;
  width: 100%;
}

.form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 6px 12px;
  padding: 0.375rem 0.75rem;
  font-size: 16px;
  /*font-size: 1rem;*/
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  /*border: 1px solid #ffffff;*/
  border-radius: 0.25rem;
  -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}

.down-angle-icon{
  /*background-color: #B5B5BB;*/
  color: #676DA4;
  text-align: center;
  width: 30px;
  border-radius: 46%;
}

.down-angle-icon:hover{
  background-color: #676DA4;
  color: #ffffff;
  text-align: center;
  width: 30px;
  border-radius: 46%;
}

.close-icon:hover{
  cursor: pointer;
}














#map {
  height: 89.6%;
  width: 100%;
  background: #AADAFF;
 }

.gold-star{
  color: gold;
}

/* Marker info bubble */
.H_ib_body {
    background: white;
    position: absolute;
    bottom: .5em;
    padding: 0;
    right: 0px;
    border-radius: 5px;
    margin-right: -3em;
    box-shadow: 0px 0 4px 0 rgba(15, 22, 33, 0.6);
    margin-bottom: 0.5em;
    width: 210px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  /*height: 52px;
  line-height: 52px; /* Vertically center the text there */
  background-color: #99ceff;
  color: #ffffff;
}
